<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
  <%- include("./partials/mainhead.ejs") %>
  <div class="content">
    <ol id="mainl">
      <% if (blogs.length > 0) { %> <% if (webpage == 0) { %>
      <%blogs.forEach(blog => {%>
      <li id="eachvid">
        <a class="singlevid" href="/blogs/<%= blog._id %>">
          <div class="container">
            <img src="<%= blog.thumb %>" alt="Avatar" class="Thumbnail">
            <div class="overlay">
              <div class="text"><%= blog.name %></div>
            </div>
          </div>
        </a>
      </li>

      <% }) %>

      <%}%> <% } %>
    </ol>
  </div>
  </div>
  <%- include("./partials/foot.ejs") %>
</body>